<p id="notice"><%= notice %></p>

<p>
  <b>Project url:</b>
  <%= @project.project_url %>
</p>

<p>
  <b>Github:</b>
  <%= @project.Github %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
