<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @user.user %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Fname:</b>
  <%= @user.fname %>
</p>

<p>
  <b>Lname:</b>
  <%= @user.lname %>
</p>

<p>
  <b>Emp:</b>
  <%= @user.emp_id %>
</p>

<p>
  <b>Integer:</b>
  <%= @user.integer %>
</p>

<p>
  <b>Date birth:</b>
  <%= @user.date_birth %>
</p>

<p>
  <b>Gender:</b>
  <%= @user.gender %>
</p>

<p>
  <b>Address:</b>
  <%= @user.address %>
</p>

<p>
  <b>Hobbies:</b>
  <%= @user.hobbies %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
