<h2>Sign up</h2>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors resource %>
  <%= f.input :email,:label => "*Enter E-Mail Address",:placeholder =>"youremail@example.com", :autofocus => true %>
  <%= f.input :name ,:label => "Github User Name", :autofocus => true %>
  <p> Or <br/></p>
  <%= f.input :blogurl,:label => " Enter Your Blog's Url",:placeholder => "https://yourblog.com", :autofocus => true %>
  <%= f.input :password ,:label => "*Please enter Password",:hint => "Min 6 charc." %>
  <%= f.input :password_confirmation, :required => true %>
  <%= f.button :submit, 'Sign up', :class => 'btn-primary' %>
<% end %>
<%= render "devise/shared/links" %>